<title><%= title %></title>

<div>
    <h1>WeChat!</h1>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="Your email.." required>
        <input type="password" name="password" placeholder="Your password.." required>
        <input type="submit" value="Log In">
    </form>
    <form action="/sign-up" method="post">
        <label>New to WeChat?
            <input type="submit" value="Sign Up">
        </label>
    </form>
</div>